<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%5p] %d{HH:mm:ss} %c -- %m%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.FileAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%5p] %d{HH:mm:ss} %c -- %m%n" />
		</layout>
	</appender>

	<logger name="com.dtorres">
		<level value="DEBUG" />
	</logger>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="stdout" />
	</root>
</log4j:configuration>